# Skip dev files and GH-specific things for archives
/tests export-ignore
.wordpress-org export-ignore
.distignore export-ignore
.github export-ignore
.editorconfig export-ignore
.eslintrc.js export-ignore
.gitattributes export-ignore
.gitignore export-ignore
composer.json export-ignore
composer.lock export-ignore
deploy.sh export-ignore
license.txt export-ignore
package.json export-ignore
package-lock.json export-ignore
phpcs.xml.dist export-ignore
phpcs-baseline.json export-ignore
phpstan.neon.dist export-ignore
phpunit.xml.dist export-ignore
phpunit.xml.legacy export-ignore
CONTRIBUTING.md export-ignore
LICENSE.md export-ignore
README.md export-ignore
TESTING.md export-ignore
webpack.config.js export-ignore
