############
## OSes
############

[Tt]humbs.db
[Dd]esktop.ini
*.DS_store
.DS_store?

############
## IDEs
############

*.pydevproject
*.sublime-project
.project
.metadata
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
nbproject/
.idea/

############
## Vendor
############

composer.lock
package-lock.json
node_modules/
vendor/

############
## Logs
############

logs
*.log

############
## Build artifacts
############

*.map
*.asset.php
.build-entry.js
.build-script.js
.backup-source.js
.backup-source.css
