parameters:
    level: 6
    paths:
        - wp-multi-network/includes
        - wpmn-loader.php
    scanFiles:
        - %rootDir%/../../php-stubs/wp-cli-stubs/wp-cli-stubs.php
        - %rootDir%/../../php-stubs/wp-cli-stubs/wp-cli-commands-stubs.php
        #- %rootDir%/../../php-stubs/wp-cli-stubs/wp-cli-i18n-stubs.php
        #- %rootDir%/../../php-stubs/wp-cli-stubs/wp-cli-tools-stubs.php
    ignoreErrors:
        - '/^Call to static method encode\(\) on an unknown class Requests_IDNAEncoder\.$/'
        - '/^Constant WP_CONTENT_URL not found\.$/'
        # WP_Network::$blog_id is a private property that can be accessed via magic methods.
        - '/^Access to an undefined property WP_Network::\$blog_id\.$/'
        # WP_CLI\Fetchers\User::get() returns WP_User without root namespace.
        - '/^Access to property \$ID on an unknown class WP_CLI\\Fetchers\\WP_User\.$/'
