th.column-title {
	width: 35%;
}
th.column-path {
	width: 15%;
}
th.column-blogs {
	width: 10%;
}
td.column-domain {
	white-space: nowrap;
	overflow: hidden;
}

.edit-network label span.scheme {
	display: inline-block;
}

.edit-network .form-field label input[type="text"] {
	width: 50%;
	display: inline-block;
}

#poststuff #wpmn-move-site-list .inside,
#poststuff #wpmn-edit-network-assign-sites .inside {
	margin: 0;
	padding: 0;
}

#wpmn-edit-network-publish .submitbox,
#wpmn-move-site-publish .submitbox {
	margin: 10px -12px -12px;
}

#wpmn-edit-network-publish #major-publishing-actions,
#wpmn-move-site-publish #major-publishing-actions {
	margin-top: 10px;
}

#misc-publishing-actions #network:before,
#misc-publishing-actions #sites:before {
	font: normal 20px/1 dashicons;
	speak: none;
	display: inline-block;
	padding: 0 2px 0 0;
	top: 0;
	left: -1px;
	position: relative;
	vertical-align: top;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none !important;
}

#misc-publishing-actions #network:before {
	content: '\f319';
}

#misc-publishing-actions #sites:before {
	content: '\f325';
}

table.widefat.move-site,
table.widefat.assign-sites {
	border: none;
	box-shadow: none;
}

table.move-site thead th,
table.assign-sites thead th {
	text-align: center;
	font-size: 13px;
	font-weight: 600;
	background: #f4f4f4;
}

.networks tbody td,
.networks tbody th {
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
	padding: 10px 9px;
}

.networks .current th.check-column {
	border-left: 4px solid #00a0d2;
}

.networks .current td,
.networks .current th {
	background-color: #f7fcfe;
	padding: 10px 9px;
}

table.assign-sites select[multiple] {
	width: 100%;
	height: 80px !important;
	margin: 0;
}

table.assign-sites .button {
	margin: 0 5px;
	width: 35%;
	height: 80px;
}

table.assign-sites td.column-actions {
	width: 16%;
	padding: 8px 0;
}

table.assign-sites td.column-actions .assign {
	float: left;
	content: "\f341";
}

table.assign-sites td.column-actions .unassign {
	float: right;
}

table.assign-sites td.column-available {
	padding-right: 0;
}

table.assign-sites td.column-assigned {
	padding-left: 0;
}
table.assign-sites td.column-available,
table.assign-sites td.column-assigned {
	width: 42%;
}

table.assign-sites td.column-assigned {
	text-align: right;
}

div.network-delete {
	background: #fff;
	border-left: 4px solid #dc3232;
	-webkit-box-shadow: 0 1px 1px 0 rgba( 0, 0, 0, 0.1 );
	box-shadow: 0 1px 1px 0 rgba( 0, 0, 0, 0.1 );
	margin: 5px 0 2px;
	padding: 1px 12px;
}

div.network-delete p {
	margin: 0.5em 0;
	padding: 2px;
}

ul.delete-sites {
	list-style: square;
	margin: 10px 20px;
}

ul.delete-sites li {
	margin: 0;
}